/* Base Template - MAIN */

.form-control {
  width: 50vw;
}

/* Base Template - NAVBAR */

#navbar {
  height: 5vh;
  background-color: rgb(65, 0, 80);
}

#navbar-submit {
  background-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#navbar-login {
  background-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#navbar-signup {
  background-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#logo {
  color: rgb(242, 244, 247);
}

#navbar-search {
  width: 50vw;
}

/* Base Template - FOOTER */

#footer {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  min-height: 40px;
  background-color: rgb(65, 0, 80);
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  min-height: 40px;
}

#footer-text {
  color: rgb(242, 244, 247);
}

/* Basic Template - MAIN */

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

#widget-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 7vh;
  height: 90vh;
  width: 100vw;
  padding: 40px;
  max-width: 100%;
}

#left-outer {
  font: arial;
  font-size: 2em;
  margin: 40px;
  margin-top: 0px;
  margin-left: 0px;
  color: rgb(46, 46, 46);
}

#right-outer {
  
}

/* Basic Template - ALL CHILDREN */

#left-inner {
  text-align: right;
  padding-right: 40px;
}

/* Basic Template - ALL CHILDREN - FORMS */

#submit {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
}

/* Basic Template - ABOUT */

.text-well {
  font: arial;
  font-size: 1em;
  background-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

/* Main Template - MAIN */

.main-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100vw;
}

/* Main Template - BOXES */

.outer-container {
  width: 96vw;
  height: auto;
  margin-top: 7vh;
  border: 3px solid rgb(65, 0, 80);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

/* Main Template - BOXES - HEADER */

.header-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.header-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(65, 0, 80);
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.header-right {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(242, 244, 247);
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-left-text {
  font: arial;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(242, 244, 247);
}

.header-right-text {
  font: arial;
  font-size: 1.3em;
  color: rgb(46, 46, 46);
}

/* Main Template - BOXES - HEADER - GLYPHICON */

.gad {
  font-size: 0.8em;
}

/* Main Template - BOXES - BODY */

.body-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

/* Main Template - ABOUT YOU */

/* Main Template - ABOUT YOU - PROFILE PHOTO */

.profile-photo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-img {
  max-width: 15vw;
  max-height: 15vh;
}

/* Main Template - ABOUT YOU - PROFILE DATA */

.profile-content {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

/* Main Template - ABOUT YOU - PROFILE DATA - DETAIL */

.profile-username {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-fav-movie {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-join-date {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-points {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Main Template - ABOUT YOU - PROFILE DATA - BUTTONS */

#edit-profile-link {
  padding-left: 6px;
  padding-bottom: 6px;
}

#add-button-panel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.add-button {
  margin-right: 5px;
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
}

.add-button:hover {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
}

/* Main Template - ABOUT YOU - PROFILE DATA - DETAIL - CONTENT */

.profile-data-header {
  font: arial;
  font-size: 2em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.profile-data-title {
  font: arial;
  font-size: 1em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.profile-data-content {
  font: arial;
  font-size: 1em;
  color: rgb(46, 46, 46);
  padding-left: 5px;
}

/* Main Template - ABOUT YOU - POST DATA */

.post-info {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}