/* Base Template - MAIN */
body {
  width: 100vw;
  max-width: 100%;
  min-width: 750px;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Base Template - FORMS */

.form-control {
  width: 45vw;
}

/* Base Template - NAVBAR */

#navbar {
  height: 50px;
  width: 100%;
  background-color: rgb(65, 0, 80);
}

#navbar-submit {
  background-color: rgb(242, 244, 247);
  border-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#navbar-login {
  background-color: rgb(242, 244, 247);
  border-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#navbar-signup {
  background-color: rgb(242, 244, 247);
  border-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

#logo {
  color: rgb(242, 244, 247);
}

#navbar-search {
  width: 50vw;
}

/* Base Template - FOOTER */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(65, 0, 80);
}

#footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#footer-text {
  color: rgb(242, 244, 247);
}

/* Basic Template - MAIN */

#widget-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

#left-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 30%;
}

#right-outer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}

/* Basic Template - ALL CHILDREN */

#left-inner {
  font: arial;
  font-size: 2em;
  margin-top: 40px;
}

#right-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 40px;
}

/* Basic Template - ALL CHILDREN - FORMS */

#submit {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
  color: white;
}

#login-submit {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
  color: white;
}

#movie-submit {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
  color: white;
}
  
#photo-img {
  /* box-shadow: -10px 10px 20px -5px #595959; */
}
  
#movie-img {
  /* box-shadow: -10px 10px 20px -5px #595959; */
}

/* Basic Template - ABOUT */

.text-well {
  font: arial;
  font-size: 1em;
  background-color: rgb(242, 244, 247);
  color: rgb(46, 46, 46);
}

/* Main Template - USER */

.outer-container {
  width: 96%;
  min-width: 800px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid rgb(65, 0, 80);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#user-container {
  height: 288px;
  margin-top: 20px;
}

#answer-container {
  margin-bottom: 20px;
}

/* Main Template - MOVIE */

.movie-toggle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#movie-container {
  height: 214px;
}


/* Main Template - BOXES - HEADER */

.header-container {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.header-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(65, 0, 80);
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.header-right {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(242, 244, 247);
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 0px 5px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-left-text {
  font: arial;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(242, 244, 247);
}

.header-right-text {
  font: arial;
  font-size: 1.3em;
  color: rgb(46, 46, 46);
}

/* Main Template - BOXES - HEADER - GLYPHICON */

.gad {
  font-size: 0.8em;
}

/* Main Template - BOXES - BODY */

.body-container {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

/* Main Template - ABOUT YOU - PROFILE PHOTO */

.profile-photo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-img {
  max-height: 140px;
  max-width: 140px;
}

/* Main Template - ABOUT YOU - PROFILE DATA */

.profile-content {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

/* Main Template - ABOUT YOU - PROFILE DATA - DETAIL */

.profile-username {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-fav-movie {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-join-date {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-points {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Main Template - ABOUT YOU - PROFILE DATA - BUTTONS */

#edit-profile-link {
  padding-left: 6px;
  padding-bottom: 6px;
}

#add-button-panel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.add-button {
  margin-right: 6px;
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
}

.minor-button {
  margin-right: 5px;
  background-color: white;
  border-color: rgb(65, 0, 80);
  border-width: 2px;
  color: rgb(65, 0, 80);
  margin-left: 2px;
  font-weight: bold;
}

.expand-button {
  margin-right: 0px;
}

/* Main Template - ABOUT YOU - PROFILE DATA - DETAIL - CONTENT */

.profile-data-header {
  font: arial;
  font-size: 2em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.profile-data-title {
  font: arial;
  font-size: 1em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.profile-data-content {
  font: arial;
  font-size: 1em;
  color: rgb(46, 46, 46);
  padding-left: 5px;
}

/* Main Template - ABOUT YOU - POST DATA */

.post-info {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Main Template - MOVIE - MOVIE PHOTO */

.movie-photo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#movie-img {
  max-height: 140px;
  max-width: 140px;
}

/* Main Template - MOVIE - MOVIE DATA */

.movie-content {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
}

/* Main Template - MOVIE - MOVIE DATA - DETAIL */

.movie-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.movie-directed-by {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.movie-release-date {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.movie-points {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Main Template - MOVIE - MOVIE DATA - BUTTONS */

#edit-movie-link {
  padding-left: 6px;
  padding-bottom: 6px;
}

#movie-button-panel {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.change-button {
  background-color: hsl(170, 100%, 30%);
  border-color: hsl(170, 100%, 30%);
}

/* Main Template - MOVIE - MOVIE DATA - DETAIL - CONTENT */

.movie-data-header {
  font: arial;
  font-size: 2em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.movie-data-title {
  font: arial;
  font-size: 1em;
  font-weight: bold;
  color: rgb(65, 0, 80);
}

.movie-data-content {
  font: arial;
  font-size: 1em;
  color: rgb(46, 46, 46);
  padding-left: 5px;
}

/* Main Template - MOVIE - RECENT MOVIE DATA */

.movie-recent-info {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* Main Template - QUESTIONS/ANSWERS - QUESTIONS */

#question-body-container {
  padding-top: 7px;
  padding-bottom: 7px;
  height: auto;
  width: 100%;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answer-body-container {
  padding-top: 7px;
  padding-bottom: 7px;
  height: auto;
  width: 100%;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-specific-container {
  height: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.answer-specific-container {
  height: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.voting-points {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.0em;
  color: rgb(46, 46, 46);
}

.upvote-arrow {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: rgb(46, 46, 46);
}

.downvote-arrow {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(46, 46, 46);
}

.question-content {
  grid-column-start: 9;
  grid-column-end: 40;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1em;
  border: 1.3px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

.answer-content {
  grid-column-start: 9;
  grid-column-end: 40;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1em;
  border: 1.3px dotted rgb(200, 200, 200);
  border-radius: 5px;
}

.question-content:hover {
  text-decoration:none;
}

.answer-content:hover {
  text-decoration:none;
}

.featured-content {
  background-color: hsl(170, 100%, 97%);
  border: 3px solid hsl(170, 100%, 30%);
  border-radius: 5px;
}

.featured-content:hover {
  text-decoration: none;
}

.points-variable {
  font-size: 1.1em;
  text-align: right;
  color: rgb(46, 46, 46);
}

.question-variable {
  color: rgb(46, 46, 46);
  text-decoration: none;
}

.question-content:link {
  text-decoration: none;
}

.question-content:visited {
  text-decoration: none;
}

.question-content:hover {
  text-decoration: none;
}

.question-content:active {
  text-decoration: none;
}

.answer-variable {
  color: rgb(46, 46, 46);
  text-decoration: none;
}

.answer-content:link {
  text-decoration: none;
}

.answer-content:visited {
  text-decoration: none;
}

.answer-content:hover {
  text-decoration: none;
}

.answer-content:active {
  text-decoration: none;
}

.gcau {
  padding-bottom: 3px;
  font-size: 1.6em;
  color: rgb(65, 0, 80);
}

.gcad {
  padding-top: 3px;
  font-size: 1.6em;
  color: rgb(65, 0, 80);
}

/* Bootstrap button overrides */

.add-button:hover, .add-button:focus, .add-button:active, .add-button.active, .open>.dropdown-toggle.add-button {
  background-color: hsl(170, 100%, 30%) !important;
  border-color: hsl(170, 100%, 30%) !important;
}

.minor-button:hover, .minor-button:focus, .minor-button:active, .minor-button.active, .open>.dropdown-toggle.minor-button {
  background-color: white !important;
  border-color: rgb(65, 0, 80) !important;
  color: rgb(65, 0, 80) !important;
}

#navbar-submit:hover, #navbar-submit:focus, #navbar-submit:active, #navbar-submit.active, .open>.dropdown-toggle#navbar-submit  {
  background-color: rgb(242, 244, 247) !important;
  border-color: rgb(242, 244, 247) !important;
  color: rgb(46, 46, 46) !important;
}

#navbar-login:hover, #navbar-login:focus, #navbar-login:active, #navbar-login.active, .open>.dropdown-toggle#navbar-login   {
  background-color: rgb(242, 244, 247) !important;
  border-color: rgb(242, 244, 247) !important;
  color: rgb(46, 46, 46) !important;
}

#navbar-signup:hover, #navbar-signup:focus, #navbar-signup:active, #navbar-signup.active, .open>.dropdown-toggle#navbar-signup   {
  background-color: rgb(242, 244, 247) !important;
  border-color: rgb(242, 244, 247) !important;
  color: rgb(46, 46, 46) !important;