{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block widget %}
  {% if user and current_user.is_authenticated %}
  <!--USER CONTAINER-->
  <div id="user-container" class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>ABOUT YOU</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div class="body-container">
	  <div class="profile-photo">
	    <img id="photo-img" src="{{ url_for('static', filename='profile.jpg') }}">
	  </div>
	  <div class="profile-content">
	    <div class="profile-username">
		  <div class="profile-data-header">{{  user.username  }}</div>
		  <a id="edit-profile-link" href="{{ url_for('profile') }}" >Edit Profile</a>
		</div>
		<div class="profile-fav-movie">
		  <div class="profile-data-title">Favorite Movie: </div>
		  <div class="profile-data-content">{{  user.fav_movie  }}</div>
		</div>
		<div class="profile-join-date">
		  <div class="profile-data-title">User Since: </div>
		  <div class="profile-data-content">{{  user.join_datetime  }}</div>
		</div>
		<div class="profile-points">
		  <div class="profile-data-title">Points: </div>
		  <div class="profile-data-content">{{  user.points  }}</div>
		</div>
		<div id="add-button-panel">
		  <a id="add-movie-button" role="button" href="{{ url_for('movie') }}" 
		  class="btn btn-primary add-button">Add Movie</a>
		  <a id="add-question-button" role="button" href="{{ url_for('question') }}" 
		  class="btn btn-primary add-button">Add Question</a>
		  <a id="add-answer-button add-button" role="button" href="{{ url_for('answer') }}" 
		  class="btn btn-primary add-button">Add Answer</a>
		</div>
	  </div>
	  <div class="post-info">
	  </div>
	</div>
  </div>
  <!--END USER CONTAINER-->
  {% endif %}
  
  {% if not user or not current_user.is_authenticated %}
  <!--NO USER CONTAINER-->
  <div class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>LOGIN</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div class="body-container">
      <div id="right-inner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ wtf.quick_form(login, button_map={'login-submit':'primary'}, id="login-form") }}
      </div>
	</div>
  </div>
  <!--END NO USER CONTAINER-->
  {% endif %}
  
  {% if movie %}
  <!--MOVIE CONTAINER-->
  <div class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>MOVIE</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div class="body-container">
	  <div class="movie-photo">
	    <img id="movie-img" src="{{ url_for('static', filename='movie.jpg') }}">
	  </div>
	  <div class="movie-content">
	    <div class="movie-title">
		  <div class="movie-data-header">{{  movie.movie_title  }}</div>
		  <a id="edit-movie-link" href="#" >Edit Movie</a>
		</div>
		<div class="movie-directed-by">
		  <div class="movie-data-title">Directed By: </div>
		  <div class="movie-data-content">{{  movie.directed_by  }}</div>
		</div>
		<div class="movie-release-date">
		  <div class="movie-data-title">Released on: </div>
		  <div class="movie-data-content">{{  movie.release_date  }}</div>
		</div>
		<div class="movie-points">
		  <div class="movie-data-title">Points: </div>
		  <div class="movie-data-content">{{  movie.points  }}</div>
		</div>
		<div id="movie-button-panel">
		  <a id="change-movie-button" role="button" href="#" 
		  class="btn btn-primary change-button">Change Movie</a>
		</div>
	  </div>
	  <div class="movie-recent-info">
	  </div>
	</div>
  </div>
  <!--END MOVIE CONTAINER-->
  {% endif %}
  
  {% if not movie %}
  <!--NO MOVIE CONTAINER-->
  <div class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>SELECT MOVIE</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div class="body-container">
      <div id="right-inner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ wtf.quick_form(select, button_map={'movie-submit':'primary'}, id="select-movie-form") }}
      </div>
	</div>
  </div>
  <!--END NO MOVIE CONTAINER-->
  {% endif %}

  {% if questions %}
  <!--QUESTION CONTAINER-->
  <div class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>QUESTIONS</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div id="question-body-container">
	  {% if questions[0] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  questions[0].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  questions[0].question_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
      {% if questions[1] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  questions[1].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div id="featured-content" class="question-content">
		    <div class="question-variable">
		      {{  questions[1].question_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if questions[2] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  questions[2].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  questions[2].question_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if questions[3] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  questions[3].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  questions[3].question_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if questions[4] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  questions[4].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  questions[4].question_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	</div>
  </div>
  <!--END QUESTION CONTAINER-->
  {% endif %}
  
  {% if answers %}
  <!--ANSWER CONTAINER-->
  <div id="answer-container" class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>ANSWERS</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span>
		</div>
	  </div>
	</div>
	<div id="question-body-container">
	  {% if answers[0] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  answers[0].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  answers[0].answer_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
      {% if answers[1] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  answers[1].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div id="featured-content" class="question-content">
		    <div class="question-variable">
		      {{  answers[1].answer_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if answers[2] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  answers[2].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  answers[2].answer_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if answers[3] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  answers[3].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  answers[3].answer_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	  {% if answers[4] %}
	    <div class="question-specific-container">
		  <div class="voting-points">
		    <div class="points-variable">
		      {{  answers[4].points  }} points
		    </div>
		  </div>
		  <div class="upvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-up gcau">
		    </div>
		  </div>
		  <div class="downvote-arrow">
		    <div class="glyphicon glyphicon-circle-arrow-down gcad">
		    </div>
		  </div>
		  <div class="question-content">
		    <div class="question-variable">
		      {{  answers[4].answer_text }}
		    </div>
		  </div>
	    </div>
      {% endif %}
	</div>
  </div>
  <!--END ANSWER CONTAINER-->
  {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
  <script type=text/javascript src="{{ url_for('static', filename='select_movie.js') }}"></script>
{% endblock %}