{% extends "base.html" %}

{% block widget %}
  <div class="widget">
  
  {% if user %}
	<div class="alert alert-success" role="alert">
      The user is: {{  user.username  }}
    </div>
  {% endif %}
  
  {% if movie %}
	<div class="alert alert-info" role="alert">
      The movie is: {{  movie.movie_title  }}
    </div>
  {% endif %}
  
  {% if question %}
	<div class="alert alert-warning" role="alert">
      The question is: {{  question.question_text  }}
    </div>
  {% endif %}
  
  {% if answer %}
	<div class="alert alert-danger" role="alert">
      The answer is: {{  answer.answer_text  }}
    </div>
  {% endif %}
  
  </div>
{% endblock %}