{% extends "base.html" %}

{% block widget %}
<div class="main-widget">
  {% if user %}
  <!--USER CONTAINER-->
  <div class="outer-container">
    <div class="header-container">
	  <div class="header-left">
	    <div class="header-left-text">
		  <span>YOU</span>
		</div>
	  </div>
	  <div class="header-right">
	    <div class="header-right-text">
		  <span>COLLAPSE </span><div class="glyphicon glyphicon-circle-arrow-down gad"></div>
		</div>
	  </div>
	</div>
	<div class="body-container">
	  <div class="profile-photo">
	    <img src="{{ url_for('static', filename='profile.png') }}" height="50" width="50">
	  </div>
	  <div class="profile-content">
	    <div class="profile-username">
		  <span></span><span></span>
		</div>
		<div class="profile-fav-movie">
		  <span></span><span></span>
		</div>
		<div class="profile-join-date">
		  <span></span><span></span>
		</div>
		<div class="profile-points">
		  <span></span><span></span>
		</div>
	  </div>
	  <div class="post-info">
	  </div>
	</div>
  </div>
  <!--END USER CONTAINER-->
  {% endif %}
  
  {% if movie %}
  <!--MOVIE CONTAINER-->
  
  <!--END MOVIE CONTAINER-->
  {% endif %}
  
  {% if question %}
  <!--QUESTION CONTAINER-->
  
  <!--END QUESTION CONTAINER-->
  {% endif %}
  
  {% if answer %}
  <!--ANSWER CONTAINER-->
  
  <!--END ANSWER CONTAINER-->
  {% endif %}
</div>
{% endblock %}